<div class="ui inverted vertical masthead center aligned segment zoomed">
    {%- if page.active_key == 'home' -%}
        {% include search.html %}
    {%- else -%}
        <div class="ui text container">
            {% assign page_icon = nil %}
            {%- for item in site.data.menu_items -%}
                {%- if item.active_key == page.active_key -%}
                    {% assign page_icon = item.icon %}
                {%- endif -%}
            {%- endfor -%}
        </div>
    {%- endif -%}
</div>